<template name='addcomment'>
<h3 style="color:blue;"> <b>Bellikler</b></h3>
<hr style="background-color: blue; color: blue;  height: 5px;">
<div class="bellik">
  <div class="row">
    <div class="col-md-offset-1 col-md-10 ">
      {{#each comments}}
        <p>
          <b>{{name}}: </b>
          {{comment}}
        </p>
      {{/each}}

    </div>
  </div>


  <form>

    <div class="row">
      <h4 style="color:blue;" class="col-md-offset-1 col-md-5"> <strong>Bellik gosmak</strong></h4>
    </div>

    <div class="row">
      <textarea id="bellik" maxlength="500" name="bellik" class="comment col-md-offset-1 col-md-10" rows="2" cols="100">
         
      </textarea>
    </div>
     
    
     
    {{#if currentUser}}
      <h5 class="col-md-offset-1 col-md-2"><b> {{nameuser}}</b></h5>
      <button class="btn btn-primary col-md-offset-4 col-md-4 " type="submit"> Ugratmak </button>
    {{else}}
      <h5 class="col-md-4">Bellik goşmak üçin agza bolun!</h5>
      <button class="btn btn-primary col-md-offset-4 col-md-4 disabled" type="submit"> Ugratmak </button>
    {{/if}}
  </form>
</div>

</template>