<Template name="orders">
{{#if Template.subscriptionsReady}}
{{#each Bases}}

<div class="container">
  <div class="bildiris">
    <div class="row">
      <div class="col-md-2">
      {{#with image}}
        <a href="/orders/{{basesID}}"><img src="{{this.url}}" height="130" width="130" style="float: left;"></a>
      {{/with}}
      </div>
      <!-- <img src="{{image.url}}" > -->
      <div  class="col-md-10 order">
        <a  href="/orders/{{databasID}}">
        <h3 style="color:#44E416">{{bahasy}} {{bahasytip}}</h3>
        <h3> {{sozbashy}}</h3> 
        </a>

        {{yazgyVar}}
        {{#if inner}} 
          <div class="col-md-offset-10 col-md-1">
            <a href="/orders/{{databasID}}"> Dowamy </a>
          </div>
        {{/if}}


      </div>
    </div>
  </div>
  {{#if currentUser}}
  <button id='myorder' class='btn btn-default' style="position: absolute; top: 10px; right: 30px; color:{{#if isfavorite}}red;{{else}}green;{{/if}}">S</button>
  {{/if}}
</div>

{{/each}}
{{#if dowamy}}
<button class="btn btn-primary" id="it">Dowamy</button>
{{/if}}
{{else}}
{{>loading}}
{{/if}}
</Template>