<Template name='UpdateUser'>
{{#if currentUser}}
<form class="col-md-8 form-horizontal">

<div class="form-group has-feedback" id="Name">
  <label class="control-label" for="inputName">Name</label>
  <input value='{{name}}' type="text" class="form-control" id="inputName" placeholder="Name" aria-describedby="inputNameStatus">
  <span class="glyphicon form-control-feedback" id='Nameglyp' aria-hidden="true"></span>
  <span id="inputNameStatus" class="sr-only">(success)</span>
</div>

<div class="form-group has-feedback" id="telnumber">
  <label class="control-label" for="inputtelnumber">Telephone</label>
  <input value='{{telephone}}' type="" class="form-control" id="inputtelnumber" placeholder="+993** ******" aria-describedby="inputtelnumberStatus">
  <span class="glyphicon form-control-feedback" id="telnumberglyp" aria-hidden="true"></span>
  <span id="inputtelnumberStatus" class="sr-only">(success)</span>
</div> 

<div class="form-group has-feedback" id="oldpassword">
  <label class="control-label" for="inputoldpassword">Old password</label>
  <input type="password" class="form-control" id="inputoldpassword" aria-describedby="inputpasswordStatus">
  <span class="glyphicon form-control-feedback" id="passwordglyp" aria-hidden="true"></span>
  <span id="inputpasswordStatus" class="sr-only">(success)</span>
</div>

<div class="form-group has-feedback" id="password">
  <label class="control-label" for="inputpassword">New Password</label>
  <input type="password" class="form-control" id="inputpassword" aria-describedby="inputpasswordStatus">
  <span class="glyphicon form-control-feedback" id="passwordglyp" aria-hidden="true"></span>
  <span id="inputpasswordStatus" class="sr-only">(success)</span>
</div>

<div class="form-group has-feedback" id="conpassword">
  <label class="control-label" for="inputconpassword">Confirm Password</label>
  <input type="password" class="form-control" id="inputconpassword" aria-describedby="inputconpasswordStatus">
  <span class="glyphicon form-control-feedback" id="conpasswordglyp" aria-hidden="true"></span>
  <span id="inputconpasswordStatus" class="sr-only">(success)</span>
</div> 

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-default">Update</button>
  </div>
</div>
</form>
{{/if}}
</Template>